<div class="row">
  <div class="large-12 columns home-message">
    <h1>Travel Planner</h1>
    <%= link_to "Sign up", new_user_registration_path, class: "hollow button secondary" %>
    <%= link_to "Sign in", new_user_session_path, class: "hollow button secondary" %>
  </div>
</div>
