html,
body {
  margin: 0;
  padding: 0;
  /*height: 100%;
  width: auto;
  float: none;*/
}

body#landing-wrapper {
  background: url(/assets/background-photo.jpg) center center no-repeat fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-color: #464646;
}

.home-message {
  position: absolute;;
  margin-top: 20%;
  text-align: center;
}

.home-message > h1 {
  font-weight: bold;
  font-family: sans-serif;
  color: #b3b3b3;
  text-shadow: 2px 2px 1px #404040;
}

.button.hollow.secondary {
  color: white;
  border-color: white;
}

.title-color {
  color: white;
}

.small-em {
  font-size: 0.875rem;
}

.thumbnail {
  border: none;
  border-radius: 5%;
}

.thumbsize {
  max-width: 150px;
  height: 100px;
}

@media only screen and (max-width: 767px) {
  body#landing-wrapper {
    background-image: url(/images/background-photo-mobile-devices.jpg);
  }
}
